{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin_base_site.css' %}">
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <i class="fas fa-paw me-2" style="font-size: 32px; color: #007bff;"></i>
            VET LOVE
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}